#image{
  display:block;
  max-width:100%;
  hight:auto;
  align: center;
  border: solid 8px black;
}

body{
    margin: 50px;
    background-color: rgb(237, 219, 224);
}

h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}

#tribute-link{
    display: inline-block;
    width: 210px;
    height:30px;
    display:flex;
    background-color: rgb(134, 182, 212);
    padding: 9px 5px 0 5px;
    justify-content: center;
    color:antiquewhite;
    text-decoration: none;
    font-weight: bold;

}
